<form name="loginForm" role="form" ng-controller="PlayerController" ng-submit="login()" novalidate>
    <h2>Login you scrub</h2>

    <div class="form-group">
        <input ng-model="player.name" type="text" class="form-control" placeholder="Username" name="username" required autofocus>
        <!--
        <input type="password" class="form-control" placeholder="Password" value="123lol" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
</form>